.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    overflow-x: auto;
    box-sizing: border-box;
}

.projects-heading {
    text-align: center;
    color: #333;
    padding-top: 70px;
}

.project-box {
    flex: 0 0 240px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex: 0 0 240px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:last-child {
    margin-right: 0;
}

.project-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    cursor: pointer;
}

.project-info {
    padding: 10px;
}

.project-info h3 {
    margin-top: 0;
}

.preview-image {
    max-width: 100%;
    height: 140px;
}

.project-info h3 {
    font-size: 1.4em;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 1em;
    color: #555;
    padding: 0 15px;
}

.project-images.single-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.project-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 800px;
    margin: auto;
    background-color: ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    
}

.project-text {
    text-align: left;
    margin-bottom: 20px;
}

.project-text h2 {
    font-size: 1.5em;
    color: #E60023;
}

.project-text p {
    font-size: 1em;
    color: #333;
}

.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

button:hover {
    color: #0056b3;
}


@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-box {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-info h3, .project-info p {
        font-size: smaller;
    }
}
