.closing-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #E60023;
    color: #fff;
}

.closing-section h2 {
    font-size: 2.5em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.closing-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width: 800px;
    line-height: 1.9;
    margin: auto;
}

.email-container {
    /* background: #fff;
    border-radius: 15px;
    color: black;
    padding: 20 30px;
    margin: 10 300 300 10px; */
    margin-top: 20px;
}

.email-container a {
    color: #89CFF0;
    font-weight: bold;
}

