.App {
  text-align: center;
  /* min-height: 100vh; */
  /* background: linear-gradient(to bottom, #E60023 , #EFEFEF); */
  background: #EFEFEF;
  /* background: #E60023; */
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  /* min-width: 100vw; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .skills-section {
  text-align: center;
  padding: 20px;
  display: flex; /* Flex container for centering */
  justify-content: center; /* Center the child elements */
}

.App .skills-section .skills-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.App .skills-section .skills-column {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
}

/* 
/* need some global styling here  */


