@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom, #E60023 , #EFEFEF); */
  background: #EFEFEF;
  /* background: #E60023; */
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* min-width: 100vw; */
}

body, .App {
  margin: 0;
  padding: 0;
}

.section-separator {
  width: 80%;
  border-bottom: 3px solid #dddbdb; /* Light line */
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin: 0 auto; /* Center the separator */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.section {
  scroll-snap-align: start; /* each section snaps to the start of the container */
  height: 100vh; /* height of each section */
}
.App .skills-section {
  text-align: center;
  padding: 20px;
  display: flex; /* Flex container for centering */
  justify-content: center; /* Center the child elements */
}

.App .skills-section .skills-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: center;
}

.App .skills-section .skills-column {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 40px;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
}

/* 
/* need some global styling here  */


