/* .aboutMe-container {
    text-align: center;
    padding-bottom: 80px;
    background-color: #E60023;
    height: 100vh;
}

.aboutMe-paragraph

h2 {
    padding-top: 25px;
} */

.aboutMe-container {
    text-align: center;
    padding-top: 50px;
    background-color: #E60023;
    color: #fff;
    min-height: 100vh;
}

.aboutMe-photo {
    width: 350px; 
    height: 350px; 
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    display: block; 
    margin: auto; 
}

/* @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate {
    animation: fadeIn 1s ease forwards;
} */

.aboutMe-paragraph {
    margin-top: 50px;
    max-width: 800px; 
    margin: auto; 
    font-size: 1.1em; 
    line-height: 1.6; 
}

.aboutMe-paragraph h2 {
    margin-bottom: 25px; 
    font-size: 2em; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-text {
    opacity: 0; 
    animation: fadeIn 3s ease-in-out forwards; 
    animation-delay: 2s; 
}

/* @media screen and (max-width: 768px) {
    .aboutMe-paragraph {
        padding: 0 20px; 
    }
} */

.aboutMe-content {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Center content horizontally */
    max-width: 1200px;
    margin: auto; 
    padding-top: 50px;
}

.aboutMe-photo-container {
    flex: 0 0 200px; /* Flex basis of 200px for the photo container */
    padding-right: 20px; /* Spacing between photo and text */
}

@media screen and (max-width: 768px) {
    .aboutMe-content {
        flex-direction: column; 
    }
    .aboutMe-photo-container {
        padding-bottom: 15px; 
        padding-top: 4px;
    }
    .aboutMe-paragraph {
        font-size: smaller;
        padding: 0 20px; 
    }
}
